.Container {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  padding: 15px 0;
}

.Box {
  margin-left: 45px;
  width: 11%;
  /* border: 1px solid blue; */
}

.FormControl {
  width: 100%;
  display: flex;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1024px) {
  .Container {
    margin-top: 3rem;
  }

  .Box {
    width: 20%;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1700px) {
  .Container {
    margin-top: 3rem;
  }
}
