.Container {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  padding: 15px 0;
}

.Box {
  margin-left: 45px;
  width: 11%;
  /* border: 1px solid blue; */
}

.FormControl {
  width: 100%;
  display: flex;
}
