.Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.Option {
  border: 1px solid blue;
  margin-bottom: 75px;
}

.Chart {
  width: 85%;
  /* border: 1px solid red; */
}
