body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f8f8;
}

* {
  box-sizing: border-box;
}

.Root {
  /* border: 1px solid Red; */
  display: flex;
  height: 100vh;
  width: 100vw;
}

.Left {
  /* border: 1px solid red; */
  width: 15%;
}

.Right {
  display: flex;
  flex-direction: column;
  /* border: 1px solid blue; */
  width: 85%;
}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 1024px) {
  .Root {
    flex-direction: column;
  }

  .Left {
    width: 100%;
  }

  .Right {
    width: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1025px) and (max-width: 1700px) {
  .Root {
    flex-direction: column;
  }

  .Left {
    width: 100%;
  }

  .Right {
    width: 100%;
  }
}
